In [1]:
import json
import pandas as pd

In [2]:
with open('movies_ten.json') as f:
    data = json.load(f)

In [33]:
data[0];

In [4]:
data[0].keys()

[u'Quartile', u'Url', u'Tomatometer', u'Title', u'Audience Rating', u'Reviews']

In [5]:
# df = pd.DataFrame(columns=data[0].keys())

# list_movies = [data[i].values() for i in range(len(data))]

# df = pd.DataFrame(list_movies, columns=data[0].keys())

In [60]:
df = pd.DataFrame(data)

In [68]:
ohe.head()

,Audience Rating,Reviews,Title,Tomatometer,Url,0 - 25,26 - 50,51 - 75,76 - 100
0,98%,"[This film was great., My all-time favourite m...",The Godfather,98%,https://www.rottentomatoes.com/m/godfather,0,0,0,1
1,95%,[Easily the best Christmas movie of all time. ...,It’s a Wonderful Life,93%,https://www.rottentomatoes.com/m/its_a_wonderf...,0,0,0,1
2,95%,"[ONCE UPON A TIME IN THE WEST is a grand, poig...",Once Upon A Time In The West,98%,https://www.rottentomatoes.com/m/once_upon_a_t...,0,0,0,1
3,95%,[Easily one of the best movies of all time. Fr...,Forrest Gump,73%,https://www.rottentomatoes.com/m/forrest_gump,0,0,0,1
4,95%,[I was blown away by Amelie even though there ...,Amélie,89%,https://www.rottentomatoes.com/m/amelie,0,0,0,1

In [54]:
# a = ''.join(ohe.iloc[0]['Reviews'])

# ohe.loc[0, 'Reviews'] = a

In [78]:
ohe.head()

,Audience Rating,Reviews,Title,Tomatometer,Url,0 - 25,26 - 50,51 - 75,76 - 100,review_text
0,98%,"[This film was great., My all-time favourite m...",The Godfather,98%,https://www.rottentomatoes.com/m/godfather,0,0,0,1,this film was great.my all-time favourite movi...
1,95%,[Easily the best Christmas movie of all time. ...,It’s a Wonderful Life,93%,https://www.rottentomatoes.com/m/its_a_wonderf...,0,0,0,1,easily the best christmas movie of all time. i...
2,95%,"[ONCE UPON A TIME IN THE WEST is a grand, poig...",Once Upon A Time In The West,98%,https://www.rottentomatoes.com/m/once_upon_a_t...,0,0,0,1,"once upon a time in the west is a grand, poign..."
3,95%,[Easily one of the best movies of all time. Fr...,Forrest Gump,73%,https://www.rottentomatoes.com/m/forrest_gump,0,0,0,1,easily one of the best movies of all time. fro...
4,95%,[I was blown away by Amelie even though there ...,Amélie,89%,https://www.rottentomatoes.com/m/amelie,0,0,0,1,i was blown away by amelie even though there w...

In [87]:
from nltk.corpus import stopwords
from textblob import TextBlob
stop = stopwords.words('english')

In [114]:
ohe = df
ohe = pd.concat([df.drop('Quartile', axis=1), pd.get_dummies(df['Quartile'])], axis=1)

ohe = ohe.drop(125)

# Join the separate reviews with a space
ohe['review_text'] = ohe['Reviews'].apply(lambda x: " ".join(x))

# turn it all to lower case
ohe['review_text'] = ohe['review_text'].apply(lambda x: " ".join(x.lower() for x in x.split()))

# replace punctuation with nothing
ohe['review_text'] = ohe['review_text'].str.replace('[^\w\s]', '')

# remove stop words
ohe['review_text'] = ohe['review_text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

# get top 10 most rare words
rare = pd.Series(' '.join(ohe['review_text']).split()).value_counts()[-10:]

# remove top 10 most rare words
ohe['review_text'] = ohe['review_text'].apply(lambda x: " ".join(x for x in x.split() if x not in rare))

# convert ratings so that they are now numeric words
ohe['Audience Rating'] = ohe['Audience Rating'].apply(lambda x: int(x.split("%")[0]))

ohe['Tomatometer'] = ohe['Tomatometer'].apply(lambda x: int(x.split("%")[0]))

In [123]:
ohe.head()

,Audience Rating,Reviews,Title,Tomatometer,Url,0 - 25,26 - 50,51 - 75,76 - 100,review_text
0,98,"[This film was great., My all-time favourite m...",The Godfather,98,https://www.rottentomatoes.com/m/godfather,0,0,0,1,film great alltime favourite movie intense loo...
1,95,[Easily the best Christmas movie of all time. ...,It’s a Wonderful Life,93,https://www.rottentomatoes.com/m/its_a_wonderf...,0,0,0,1,easily best christmas movie time movie watch c...
2,95,"[ONCE UPON A TIME IN THE WEST is a grand, poig...",Once Upon A Time In The West,98,https://www.rottentomatoes.com/m/once_upon_a_t...,0,0,0,1,upon time west grand poignant gloriously epic ...
3,95,[Easily one of the best movies of all time. Fr...,Forrest Gump,73,https://www.rottentomatoes.com/m/forrest_gump,0,0,0,1,easily one best movies time brilliant cast pow...
4,95,[I was blown away by Amelie even though there ...,Amélie,89,https://www.rottentomatoes.com/m/amelie,0,0,0,1,blown away amelie even though substantial hype...

In [95]:
# get top 10 most common words
# freq = pd.Series(' '.join(ohe['review_text']).split()).value_counts()[:10]

# remove top 10 most common words
# ohe['review_text'] = ohe['review_text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))

In [129]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split  
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

In [109]:
# construct bag of words matrix
bow = CountVectorizer(max_features=1000, lowercase=True, ngram_range=(1,1),analyzer = "word")

In [131]:
bow

CountVectorizer(analyzer='word', binary=False, decode_error=u'strict',
        dtype=<type 'numpy.int64'>, encoding=u'utf-8', input=u'content',
        lowercase=True, max_df=1.0, max_features=1000, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern=u'(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [124]:
def split_df(df, test_size=0.20):
    y = df['Audience Rating']
    x = df.drop('Audience Rating', axis = 1)
    X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = test_size) 
    return X_train, X_test, y_train, y_test

In [125]:
X_train, X_test, y_train, y_test = split_df(ohe)

In [126]:
def run_svc(df, kernel='linear'):
    X_train, X_test, y_train, y_test = split_df(df)
    svclassifier = SVC(kernel=kernel) 
    svclassifier.fit(X_train, y_train) 
    y_pred = svclassifier.predict(X_test)
    print("%.4f%%" %(accuracy_score(y_test, y_pred) * 100))

In [127]:
def run_rtree(df, enc=False):
    X_train, X_test, y_train, y_test = split_df(df, enc)
    clf = RandomForestClassifier()
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    print("%.4f%%" %(accuracy_score(y_test, y_pred) * 100)) 
    return clf

In [130]:
run_svc(ohe)

ValueError: could not convert string to float: film one favourites teenager brings really good memories past life used simple film firendship growing amazing movie literally one favorites growing enjoyed watching coming age movie girls refreshing